https://www.kaggle.com/piterfm/beijing-2022-olympics

In [1]:
import pandas as pd
athletes = pd.read_csv("dataset/athletes.csv")
entries_discipline = pd.read_csv("dataset/entries_discipline.csv")
medals_total = pd.read_csv("dataset/medals_total.csv")
medals = pd.read_csv("dataset/medals.csv")
events = pd.read_csv("dataset/events.csv")

<h2>Athletes</h2>

In [2]:
athletes.head()

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
0,AALTO Antti,AALTO A,Male,1995-04-02,KITEE,Finland,Finland,FIN,Ski Jumping,SJP,KUOPIO,Finland,NaN,../../../en/results/ski-jumping/athlete-profil...
1,AALTONEN Miro,AALTONEN M,Male,1993-06-07,JOENSUU,Finland,Finland,FIN,Ice Hockey,IHO,PODOLSK,Russian Federation,1.80/5'10'',../../../en/results/ice-hockey/athlete-profile...
2,ABDELKADER Justin,ABDELKADER J,Male,1987-02-25,NaN,NaN,United States of America,USA,Ice Hockey,IHO,NaN,NaN,1.87/6'1'',../../../en/results/ice-hockey/athlete-profile...
3,ABDI Fayik,ABDI F,Male,1997-10-07,"SAN DIEGO, CA",United States of America,Saudi Arabia,KSA,Alpine Skiing,ALP,DHAHRAN,Saudi Arabia,NaN,../../../en/results/alpine-skiing/athlete-prof...
4,ABDUL-SABOOR Hakeem,ABDUL-SABOOR H,Male,1987-11-07,"EAST ORANGE, NJ",United States of America,United States of America,USA,Bobsleigh,BOB,"POWHATAN, VA",United States of America,NaN,../../../en/results/bobsleigh/athlete-profile-...

In [3]:
athletes.shape

(2892, 14)

Il dataset contiene le seguenti colonne:

In [4]:
athletes.columns.tolist()

['name',
 'short_name',
 'gender',
 'birth_date',
 'birth_place',
 'birth_country',
 'country',
 'country_code',
 'discipline',
 'discipline_code',
 'residence_place',
 'residence_country',
 'height_m/ft',
 'url']

Le seguenti colonne contengono valori <code>Nan</code>:

In [5]:
athletes.columns[athletes.isna().any()].tolist()

['birth_date',
 'birth_place',
 'birth_country',
 'discipline',
 'residence_place',
 'residence_country',
 'height_m/ft']

In [6]:
pd.concat(g for _, g in athletes.groupby("name") if len(g) > 1)

,name,short_name,gender,birth_date,birth_place,birth_country,country,country_code,discipline,discipline_code,residence_place,residence_country,height_m/ft,url
154,BENDIKA Baiba,BENDIKA B,Female,1991-06-27,CESIS,Latvia,Latvia,LAT,Biathlon,BTH,ROZULA,Latvia,NaN,../../../en/results/biathlon/athlete-profile-n...
155,BENDIKA Baiba,BENDIKA B,Female,1991-06-27,CESIS,Latvia,Latvia,LAT,Cross-Country Skiing,CCS,ROZULA,Latvia,NaN,../../../en/results/cross-country-skiing/athle...
1460,LEDECKA Ester,LEDECKA E,Female,1995-03-23,PRAGUE,Czech Republic,Czech Republic,CZE,Alpine Skiing,ALP,PRAGUE,Czech Republic,NaN,../../../en/results/alpine-skiing/athlete-prof...
1461,LEDECKA Ester,LEDECKA E,Female,1995-03-23,PRAGUE,Czech Republic,Czech Republic,CZE,Snowboard,SBD,PRAGUE,Czech Republic,NaN,../../../en/results/snowboard/athlete-profile-...
2856,ZHAO Jiawen,ZHAO J,Male,2001-01-16,HEILONGJIANG,People's Republic of China,People's Republic of China,CHN,Nordic Combined,NCB,NaN,People's Republic of China,NaN,../../../en/results/nordic-combined/athlete-pr...
2857,ZHAO Jiawen,ZHAO J,Male,2001-01-16,NaN,NaN,People's Republic of China,CHN,Ski Jumping,SJP,NaN,NaN,NaN,../../../en/results/ski-jumping/athlete-profil...

Nel dataset sono presenti più tuple con lo stesso nome dell'atleta. Questo perché un atleta può gareggiare in più discipline. La chiave della tabella è data dalla combinazione <code>name</code>+<code>discipline</code>.

<h2>Entries Discipline</h2>

In [7]:
entries_discipline

                   Discipline     F     M  Total
0               Alpine Skiing   153   157    310
1                    Biathlon   106   107    213
2                   Bobsleigh    46   119    165
3        Cross-Country Skiing   149   150    299
4                     Curling    59    55    114
5              Figure Skating    74    74    148
6            Freestyle Skiing   127   141    268
7                  Ice Hockey   236   311    547
8                        Luge    35    71    106
9             Nordic Combined     0    59     59
10  Short Track Speed Skating    54    58    112
11                   Skeleton    25    25     50
12                Ski Jumping    40    70    110
13                  Snowboard   114   119    233
14              Speed Skating    77    87    164
15                      Total  1295  1603   2898

Il dataset contiene le seguenti colonne:

In [8]:
entries_discipline.columns.tolist()

['Discipline', 'F', 'M', 'Total']

Non ci sono valori <code>Nan</code>:

In [9]:
entries_discipline.columns[entries_discipline.isna().any()].tolist()

[]

<h2>Medals</h2>

In [10]:
medals.head()

,medal_type,medal_code,medal_date,athlete_short_name,athlete_name,athlete_sex,athlete_link,event,country,country_code,discipline,discipline_code
0,Gold,1,2022-02-05 00:00:00.0,ECKHOFF T,ECKHOFF Tiril,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
1,Gold,1,2022-02-05 00:00:00.0,ROEISELAND MO,ROEISELAND Marte Olsbu,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
2,Gold,1,2022-02-05 00:00:00.0,BOE T,BOE Tarjei,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
3,Gold,1,2022-02-05 00:00:00.0,BOE JT,BOE Johannes Thingnes,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),Norway,NOR,Biathlon,BTH
4,Silver,2,2022-02-05 00:00:00.0,CHEVALIER-BOUCHET,CHEVALIER-BOUCHET Anais,X,../../../en/results/biathlon/athlete-profile-n...,Mixed Relay 4x6km (W+M),France,FRA,Biathlon,BTH

In [11]:
medals.shape

(538, 12)

Il dataset contiene le seguenti colonne:

In [15]:
medals.columns.tolist()

['medal_type',
 'medal_code',
 'medal_date',
 'athlete_short_name',
 'athlete_name',
 'athlete_sex',
 'athlete_link',
 'event',
 'country',
 'country_code',
 'discipline',
 'discipline_code']

Non ci sono valori <code>Nan</code>:

In [16]:
medals.columns[medals.isna().any()].tolist()

[]

<h2>Medals Total</h2>

In [17]:
medals_total

,Order,Country,Gold,Silver,Bronze,Total,Order by Total,Country Code
0,1,Norway,15,8,11,34,1,NOR
1,2,Germany,10,7,5,22,4,GER
2,3,United States of America,8,8,5,21,5,USA
3,4,People's Republic of China,8,4,2,14,11,CHN
4,5,Netherlands,7,5,4,16,8,NED
5,5,Sweden,7,5,4,16,8,SWE
6,7,Switzerland,7,2,5,14,11,SUI
7,8,Austria,6,7,4,17,6,AUT
8,9,ROC,5,9,13,27,2,ROC
9,10,France,5,7,2,14,11,FRA
10,11,Canada,4,7,13,24,3,CAN
11,12,Japan,3,5,9,17,6,JPN
12,13,Italy,2,7,7,16,8,ITA
13,14,Republic of Korea,2,4,1,7,14,KOR
14,15,Slovenia,2,3,2,7,14,SLO
15,16,Finland,1,2,3,6,16,FIN
16,17,Australia,1,2,1,4,17,AUS
17,18,New Zealand,1,1,0,2,19,NZL
18,19,Hungary,1,0,2,3,18,HUN
19,20,Czech Republic,1,0,1,2,19,CZE
20,21,Slovakia,1,0,0,1,22,SVK
21,22,Belarus,0,2,0,2,19,BLR
22,23,Spain,0,1,0,1,22,ESP
23,23,Ukraine,0,1,0,1,22,UKR
24,25,Belgium,0,0,1,1,22,BEL
25,25,Estonia,0,0,1,1,22,EST
26,25,Latvia,0,0,1,1,22,LAT
27,25,Poland,0,0,1,1,22,POL

Il dataset contiene le seguenti colonne:

In [18]:
medals_total.columns.tolist()

['Order',
 'Country',
 'Gold',
 'Silver',
 'Bronze',
 'Total',
 'Order by Total',
 'Country Code']

Non ci sono valori <code>Nan</code>:

In [19]:
medals_total.columns[medals_total.isna().any()].tolist()

[]

<h2>Events</h2>

In [20]:
events.head()

,location,event_stage,event_status,time,event_url,discipline_code,discipline
0,Yanqing National Alpine Skiing Centre - Speed,Men's Downhill 1st Training,Finished,2022-02-03T11:00:00+08:00,../../../en/results/alpine-skiing/results-men-...,ALP,Alpine Skiing
1,Yanqing National Alpine Skiing Centre - Speed,Men's Downhill 2nd Training,Finished,2022-02-04T12:00:00+08:00,../../../en/results/alpine-skiing/results-men-...,ALP,Alpine Skiing
2,Yanqing National Alpine Skiing Centre - Technical,Women's Giant Slalom Run 1,Finished,2022-02-07T09:30:00+08:00,../../../en/results/alpine-skiing/results-wome...,ALP,Alpine Skiing
3,Yanqing National Alpine Skiing Centre - Speed,Men's Downhill,Finished,2022-02-07T12:00:00+08:00,../../../en/results/alpine-skiing/results-men-...,ALP,Alpine Skiing
4,Yanqing National Alpine Skiing Centre - Technical,Women's Giant Slalom Run 2,Finished,2022-02-07T14:45:00+08:00,../../../en/results/alpine-skiing/results-wome...,ALP,Alpine Skiing

In [21]:
events.shape

(612, 7)

Il dataset contiene le seguenti colonne:

In [22]:
events.columns.tolist()

['location',
 'event_stage',
 'event_status',
 'time',
 'event_url',
 'discipline_code',
 'discipline']

Le seguenti colonne contengono valori <code>Nan</code>:

In [23]:
events.columns[events.isna().any()].tolist()

['event_status', 'time']

Le righe con valori Nan corrispondono ad eventi non ancora disputati e/o organizzati.

In [24]:
events.loc[events["event_status"].isna()]

,location,event_stage,event_status,time,event_url,discipline_code,discipline
22,Yanqing National Alpine Skiing Centre - Technical,Mixed Team Parallel 1/8 Finals,NaN,2022-02-19T10:00:00+08:00,../../../en/results/alpine-skiing/results-mixe...,ALP,Alpine Skiing
23,Yanqing National Alpine Skiing Centre - Technical,Mixed Team Parallel 1/4 Finals,NaN,2022-02-19T10:40:00+08:00,../../../en/results/alpine-skiing/results-mixe...,ALP,Alpine Skiing
24,Yanqing National Alpine Skiing Centre - Technical,Mixed Team Parallel 1/2 Finals,NaN,2022-02-19T11:09:00+08:00,../../../en/results/alpine-skiing/results-mixe...,ALP,Alpine Skiing
25,Yanqing National Alpine Skiing Centre - Technical,Mixed Team Parallel Small Final,NaN,2022-02-19T11:28:00+08:00,../../../en/results/alpine-skiing/results-mixe...,ALP,Alpine Skiing
26,Yanqing National Alpine Skiing Centre - Technical,Mixed Team Parallel Big Final,NaN,2022-02-19T11:37:00+08:00,../../../en/results/alpine-skiing/results-mixe...,ALP,Alpine Skiing
72,Yanqing National Sliding Centre,4-man Heat 1,NaN,2022-02-19T09:30:00+08:00,../../../en/results/bobsleigh/results-4-man-fn...,BOB,Bobsleigh
73,Yanqing National Sliding Centre,4-man Heat 2,NaN,2022-02-19T11:05:00+08:00,../../../en/results/bobsleigh/results-4-man-fn...,BOB,Bobsleigh
74,Yanqing National Sliding Centre,2-woman Heat 3,NaN,2022-02-19T20:00:00+08:00,../../../en/results/bobsleigh/results-2-woman-...,BOB,Bobsleigh
75,Yanqing National Sliding Centre,2-woman Heat 4,NaN,2022-02-19T21:30:00+08:00,../../../en/results/bobsleigh/results-2-woman-...,BOB,Bobsleigh
76,Yanqing National Sliding Centre,4-man Heat 3,NaN,2022-02-20T09:30:00+08:00,../../../en/results/bobsleigh/results-4-man-fn...,BOB,Bobsleigh
77,Yanqing National Sliding Centre,4-man Heat 4,NaN,2022-02-20T11:20:00+08:00,../../../en/results/bobsleigh/results-4-man-fn...,BOB,Bobsleigh
96,Zhangjiakou National Cross-Country Skiing Centre,Men's 50km Mass Start Free,NaN,2022-02-19T14:00:00+08:00,../../../en/results/cross-country-skiing/resul...,CCS,Cross-Country Skiing
97,Zhangjiakou National Cross-Country Skiing Centre,Women's 30km Mass Start Free,NaN,2022-02-20T14:30:00+08:00,../../../en/results/cross-country-skiing/resul...,CCS,Cross-Country Skiing
242,National Aquatics Centre - Sheet B,Men's Gold Medal Game,NaN,2022-02-19T14:50:00+08:00,../../../en/results/curling/results-men-fnl-00...,CUR,Curling
243,National Aquatics Centre - Sheet B,Women's Bronze Medal Game,NaN,2022-02-19T20:05:00+08:00,../../../en/results/curling/results-women-fnl-...,CUR,Curling
244,National Aquatics Centre - Sheet B,Women's Gold Medal Game,NaN,2022-02-20T09:05:00+08:00,../../../en/results/curling/results-women-fnl-...,CUR,Curling
260,Capital Indoor Stadium,Pair Skating - Free Skating,NaN,2022-02-19T19:00:00+08:00,../../../en/results/figure-skating/results-pai...,FSK,Figure Skating
322,Genting Snow Park H & S Stadium,Men's Freeski Halfpipe Final Run 1,NaN,2022-02-19T09:30:00+08:00,../../../en/results/freestyle-skiing/results-m...,FRS,Freestyle Skiing
323,Genting Snow Park H & S Stadium,Men's Freeski Halfpipe Final Run 2,NaN,2022-02-19T09:58:00+08:00,../../../en/results/freestyle-skiing/results-m...,FRS,Freestyle Skiing
324,Genting Snow Park H & S Stadium,Men's Freeski Halfpipe Final Run 3,NaN,2022-02-19T10:25:00+08:00,../../../en/results/freestyle-skiing/results-m...,FRS,Freestyle Skiing
381,National Indoor Stadium,Men's Bronze Medal Game,NaN,2022-02-19T21:10:00+08:00,../../../en/results/ice-hockey/results-men-fnl...,IHO,Ice Hockey
382,National Indoor Stadium,Men's Gold Medal Game,NaN,2022-02-20T12:10:00+08:00,../../../en/results/ice-hockey/results-men-fnl...,IHO,Ice Hockey
608,National Speed Skating Oval,Men's Mass Start Semifinals,NaN,2022-02-19T15:00:00+08:00,../../../en/results/speed-skating/results-men-...,SSK,Speed Skating
609,National Speed Skating Oval,Women's Mass Start Semifinals,NaN,2022-02-19T15:45:00+08:00,../../../en/results/speed-skating/results-wome...,SSK,Speed Skating
610,National Speed Skating Oval,Men's Mass Start Final,NaN,2022-02-19T16:30:00+08:00,../../../en/results/speed-skating/results-men-...,SSK,Speed Skating
611,National Speed Skating Oval,Women's Mass Start Final,NaN,2022-02-19T17:00:00+08:00,../../../en/results/speed-skating/results-wome...,SSK,Speed Skating